/*CSS STYLE SHEET - MOBILE FIRST APPROACH*/

/*FOR SCREENS SMALLER THAN 600px - DISPLAY MENU VERTICALLY*/

/*HEADER INCLUDING NAV BAR AND LOGO*/
body {
    font-family: 'Wendy One', sans-serif;  
    margin: 0;
}

.header-container{
	display: flex;
    flex-direction: column;
}

.logo {
    position: relative;
    text-align: center;
}

.logo img{
	width: 50%;
}

nav{
    display: flex;
    width: 100%;
}

header ul {
    display: flex;
    
    list-style-type: none;
}

header ul li {
display: inline-block;
padding: 0.5rem;
font-size: 1.1rem;
letter-spacing: 0.2rem;
}

header ul li a {
text-decoration: none;
color:#3664BD;
}

li a:active {
 color:#3664BD;
 font-weight: 400;
 }
 
 li a:hover {
     color: #FFA500;
 }
 
 /*BANNER SECTION INCLUDING MAIN HEADLINES AND HERO IMAGE*/
.banner_section{
    width: 100%;
    min-height: 300px;
    height: auto;
    background-image: url("image/developers.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

 .banner_section h1{    
    font-family: 'Wendy One', sans-serif;
    position: relative;
    font-size: 2rem;
    padding-top: 50px;
    color: white;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black; 
}

.banner_section h2{
    font-family: 'Wendy One', sans-serif;
    position: relative;
    float: right;
    font-size: 1.7rem;
    color: #FFA500;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black; 
}

/*TEAM SECTION*/


.quarter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.caption {
    text-align: center;
    width: 100%;
    }


.team h1 {
    font-family: 'Wendy One', sans-serif;
    position: relative;
    text-align: center;
    width: 100%;
    font-size: 2rem;
    color: #3664BD;
    letter-spacing: 0.15rem;
   
}

.photo {
  width: 25%;
}
.team .photo img{
    border-radius: 50%;
}
.caption {
  text-align: center;
  font-family: 'Wendy One', sans-serif;
  font-size:1rem;
  width: 100%;
}
.team h3{
    font-family: 'Wendy One', sans-serif;
    text-align: center;
    
}

.languages h1 {
    font-family: 'Wendy One', sans-serif;
    position: relative;
    text-align: center;
    width: 100%;
    font-size: 2rem;
    color: white;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}

.languages h2 {
    font-family: 'Wendy One', sans-serif;
    position: relative;
    text-align: center;
    width: 100%;
    font-size: 2rem;
    color: #FFA500;
    letter-spacing: 0.15rem;
    text-shadow: 1px black;
    

}

.language_icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color:#3664BD;

}

.language_icons img {
    border: 1px solid white;
    background-color: white;
   height: 40px;
   width: 40px;
}

/*FORM AND SUBMIT BUTTON*/



#form{
    max-width: 50%;
    padding: 1.2rem;
    background-color: #3664BD;
    margin: 1rem;
    border-radius: 0.5rem;
    position: relative;
    margin: 0 auto;
}

ul {
	list-style-type: none;
}

input[type=text], select, textarea{
    width: 100%;
    padding: 1.5rem 1.5rem 1.5rem 2rem;
    box-sizing: border-box;
    resize: vertical;
    font-family: Arial, sans-serif;
    font-size: 1.25rem;
    border: none;
  }

  label{
      padding: 0.25 rem 0.25rem 0.25rem 0.25;
      color: white;
      display: inline-block;
      font-family: 'Trebuchet', sans-serif;
    font-size: 1.2rem;
    margin: 0.3rem;
    border-radius: 0.5rem;
  }
    
  form li button{
    background-color: #FFA500;
    margin-top: 0.5rem;
	margin-left: auto;
	padding: 0.5rem;;
    color: #000000;
    font-family: Arial, sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: 0.15rem;
    border-radius: 0.25rem;
}

form li button:active {
    background-color: #66b348;
    -webkit-box-shadow: -0.1rem 0.1rem 0.1rem grey;
    -moz-box-shadow: -0.1rem 0.1rem 0.1rem grey;
    box-shadow: -0.1rem 0.1rem 0.1rem grey;
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    transform: translateY(2px);
}

/*MEDIA QUERIES*/

/*FOR SCREENS OVER 600px*/

@media screen and (min-width:600px) {
   
 .header-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    }
   
 .logo {
    display: inline-block;
    }

 .logo img{
    width: 100%;
    }

 nav {
    display: flex;
    justify-content: flex-end;
    margin: 0 0 0 0;
    }

 header ul {
    display: flex;
	flex-flow: row;
	list-style-type: none;
    }

 header ul li {
    display: inline-block;
    font-size: 1.3rem;
    letter-spacing: 0.07rem;
    }
    
    .banner_section{    
    min-height: 400px;
    }

    .banner_section h1{    
    font-size: 3rem;
    }
    
    .banner_section h2{
    font-size: 2.1rem;
    }

/*.team {
    background-image: url("image/background.jpg");
}*/
.team h1 {
    font-family: 'Wendy One', sans-serif;
    position: relative;
    text-align: center;
    width: 100%;
    font-size: 50px;
  
}
.team h2 {
    font-family: 'Wendy One', sans-serif;
    position: relative;
    top: 30%;
    left: 5%;
    font-size: 30px;
    color: white;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
    padding-top:20px;
    padding-bottom:20px;
}
.photo {
  width: 15%;
}
.team .photo img{
    border-radius: 50%;
}
.caption {
  text-align: center;
  font-family: 'Wendy One', sans-serif;
  font-size:2rem;
  width: 100%;
}
.team h3{
    font-family: 'Wendy One', sans-serif;
    text-align: center;
}
}

