/*CSS STYLE SHEET - MOBILE FIRST APPROACH*/

/*FOR SCREENS SMALLER THAN 600px - DISPLAY MENU VERTICALLY*/

/*HEADER INCLUDING NAV BAR AND LOGO*/
.header-container{
	display: flex;
	flex-direction: column;
	border-bottom: 3px solid #483D8B;
}

.logo {
    position: relative;
    text-align: center;
}

.logo img{
	width: 50%;
}

nav{
	display: flex;
    width: 100%;
}

header ul {
	display: flex;
    list-style-type: none;
}

header ul li {
display: inline-block;
padding: 0.5rem;
font-family: 'Nunito:400', sans-serif;
font-size: 1.1rem;
letter-spacing: 0.2rem;
}

header ul li a {
text-decoration: none;
color: #483D8B;
}

li a:active {
 color: #483D8B;
 font-weight: 400;
 }
 
 li a:hover {
     color: #FFA500;
 }
 
 /*BANNER SECTION INCLUDING MAIN HEADLINES AND HERO IMAGE*/
.banner_section{
    width: 100%;
    min-height: 300px;
    height: auto;
    background-image: url("image/developers.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

 .banner_section h1{    
    font-family: 'Wendy One', sans-serif;
    position: relative;
    font-size: 2rem;
    padding-top: 50px;
    color: white;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black; 
}

.banner_section h2{
    font-family: 'Wendy One', sans-serif;
    position: relative;
    float: right;
    font-size: 1.7rem;
    color: #FFA500;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black; 
}

/*TEAM SECTION*/
.container {
    width:80%;
    margin:0 auto;
}

.quarter {
    display: flex;
    justify-content: space-around;
    border:1px solid red;
}

.photo {
    width: 15%;
}

.caption {
    text-align: center;
    width: 100%;
    }


/*MEDIA QUERIES*/

/*FOR SCREENS OVER 600px*/

@media screen and (min-width:600px) {
   
 .header-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    }
   
 .logo {
    display: inline-block;
    }

 .logo img{
    width: 100%;
    }

 nav {
    display: flex;
    justify-content: flex-end;
    margin: 0 0 0 0;
    }

 header ul {
    display: flex;
	flex-flow: row;
	list-style-type: none;
    }

 header ul li {
    display: inline-block;
    font-family: 'Nunito:400', sans-serif;		/*Find out how to use different Google font styles in same family*/
    font-size: 1.3rem;
    letter-spacing: 0.07rem;
    }
    
    .banner_section{    
    min-height: 400px;
    }

    .banner_section h1{    
    font-size: 3rem;
    }
    
    .banner_section h2{
    font-size: 2.1rem;
    }
    
}

